@import url("https://fonts.googleapis.com/css2?family=Baskervville&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inner-wrapper {
  width: 1160px;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .inner-wrapper {
    max-width: 940px;
  }
}
@media screen and (max-width: 959px) {
  .inner-wrapper {
    max-width: 620px;
  }
}
@media screen and (max-width: 639px) {
  .inner-wrapper {
    max-width: 460px;
  }
}
@media screen and (max-width: 479px) {
  .inner-wrapper {
    max-width: calc(100% - 24px);
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f9f8f1;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 959px) {
  .header {
    max-height: 42px;
  }
}
.header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.header__top {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
@media screen and (max-width: 959px) {
  .header__top {
    padding-top: 10px;
    margin-bottom: 10px;
  }
  .header__top .header__languages {
    display: none;
  }
}
.header__languages {
  display: flex;
  gap: 10px;
}
.header__languages * {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.header__languages *:hover {
  opacity: 0.5;
}
.header__burger {
  display: none;
}
@media screen and (max-width: 959px) {
  .header__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .header__burger:hover {
    opacity: 0.5;
  }
}
.header__burger-line {
  width: 100%;
  height: 1px;
  background: #35241d;
  transition: all 0.3s ease-in-out;
}
.header__menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 10px;
  justify-content: space-between;
}
@media screen and (max-width: 959px) {
  .header__menu {
    display: none;
  }
}
.header__menu-item {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
}
.header__menu-item:first-of-type {
  padding-left: 0;
}
.header__menu-item:last-of-type {
  padding-right: 0;
  border-right: none;
}
.header__menu-link {
  font-family: "Nunito Sans", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #35241d;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}
.header__menu-link:hover {
  opacity: 0.5;
}
.header__menu-link_active {
  pointer-events: none;
}
.header__menu-separator {
  height: auto;
  width: 1px;
  background-color: #35241d;
  pointer-events: none;
}
.header__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header__logo {
  max-width: 100px;
}
.header__logo img {
  width: 100%;
}
.header__logo {
  max-width: 100px;
}
@media screen and (max-width: 959px) {
  .header__logo {
    max-width: 60px;
  }
}
.header__logo img {
  width: 100%;
}
.header__cart {
  width: 30px;
  height: 30px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.header__cart:hover {
  opacity: 0.5;
}
.header__hiddenpart {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
@media screen and (max-width: 959px) {
  .header__hiddenpart {
    display: none;
  }
}
.header__hiddenpart_opened {
  max-height: 600px;
  opacity: 1;
  visibility: visible;
}
.header__hiddenpart-left {
  padding-block: 40px;
  display: flex;
}
.header__hiddenpart-left .column {
  width: 110px;
}
.header__hiddenpart-right {
  padding-block: 40px;
}
.header__hiddenpart-image {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  text-decoration: none;
}
.header__hiddenpart-image span {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #35241d;
  text-transform: lowercase;
}
.header__hiddenpart-image img {
  pointer-events: none;
  width: 288px;
}
.header__hiddenmenu {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
}
.header__mobile {
  width: 60%;
  position: fixed;
  z-index: 999;
  background: #f9f8f1;
  height: 100%;
  left: 0;
  top: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  transform: translateX(-100%);
  overflow: hidden;
}
@media screen and (max-width: 479px) {
  .header__mobile {
    width: 80%;
  }
}
.header__mobile_opened {
  transform: translateX(0);
}
.header__mobile .header__languages {
  margin-top: auto;
}
.header__mobile-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.header__mobile-close {
  width: 30px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header__mobile-close div {
  width: 100%;
  height: 1px;
  background: #35241d;
  position: absolute;
}
.header__mobile-close div:first-of-type {
  transform: rotate(45deg);
}
.header__mobile-close div:last-of-type {
  transform: rotate(-45deg);
}
.header__mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}
.header__mobile-menu .header__menu-item_additional {
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}
.header__mobile-menu .header__menu-item_additional .header__menu-link {
  margin-bottom: 4px;
}
.header__mobile-menu .header__menu-item_additional ul {
  list-style: none;
  padding-left: 10px;
}
.header__mobile-menu .header__menu-item_additional ul li {
  font-size: 10px;
}

.cart {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
}
.cart img {
  width: 100%;
}

.cart-number {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #35241d;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 74%;
}

.main {
  padding-top: 84px;
  width: 100%;
  height: auto;
  background-color: #ececec;
}
@media screen and (max-width: 959px) {
  .main {
    padding-top: 40px;
  }
}

.image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  background: rgba(255, 255, 255, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.page-blur_opened {
  opacity: 1;
  visibility: visible;
}
@media screen and (max-width: 1199px) {
  .page-blur {
    z-index: 11;
  }
}